.HeaderContainer {
  margin-top:30px;
  margin-bottom:40px;
  /* display:flex;
  justify-content: center; */
}

.HeaderContainer #name {
  text-align: center;
}

.HeaderContainer #table {
  text-align: center;
}

.HeaderContainer #point {
  text-align: center;
}

#headerDeco {
  width: 40%;
  display: block;
  margin:15px auto;
}

@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  #headerDeco {
    display:none;
  }
}
