.missionGroups {
  width:70%;
  margin-inline: auto;
}

.missionGroupName {
  margin-bottom: 5px;;
}

.missionGroupPoints {
  width:80%;
  margin-inline: auto;
  margin-bottom:5px;
  text-align: center;
  position: relative;
}

.missionNowPoint {
  font-size:1.8em;
}

.missionNextPoint{
  position: absolute;
  top:34px;
  left:60%;
  margin-right:-20px;
}