body {
  background-color: #030244;
  background-image: url("/public/images/tile_background.png");
  color:white;
}
.mainContainer {
  width:100%;
}

.SubTitleLabel {
  padding:0px 10px;
  background-color:#DABE00;
  color:#222;
}

