body {
  background-color: #030244;
  background-image: url("/public/images/tile_background_new.png");
  color:white;
}
.mainContainer {
  width:100%;
}

.SubTitleLabel {
  padding:0px 10px;
  background-color:#DABE00;
  color:#222;
  text-align: center;
}

#homeCartain {
  width:100%;
  position: fixed;
  position: absolute;
  z-index:999;
  margin-top:-30px;
  pointer-events: none;
}

@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  #homeCartain {
    display:none;
  }
}