.moveButton {
  display:flex;
  justify-content: flex-end;
}

.missionListContainer {
  width:900px;
}

.missionCol {
  margin-right:5px;
}

.groupCol {
  margin-right:15px;
}

.missionTitle {
  width:70%;
}

.missionPoint {
  width:30px;
}

.missioKind {
  width:30px;
}

.missionStatus {
  width:70px;
}

.missionGroup {
  width:200px;
}

.missionId {
  width:100px;
}

.missionEditDialogContainer {
  width:500px;
}

.formContainer {
  width:80%;
  margin-left:20px;
}